#certificados-seccion{
    padding-top: 30px;
}
#servicios-seccion{
    padding-top: 30px;
}
#precios-seccion{
    padding-top: 65px;
}
.tarjetas-certificados :hover{
    transform: translateY(-3%);
}